<footer class="first">
   <div>
    <section>
        <h3><b>Portfolio</b></h3>
        <p>
            Created with <span class="glyphicon glyphicon-heart"></span>&nbsp; By the developer - Suraj Shrestha
        </p>
    </section>
    <section>
            <h3><b>Connect More</b></h3>
            <ul class="social">
                <li><a href="https://www.facebook.com/shoeraz.shrestha"><img src="/images/footer-facebook.png"></a></li>


                <li><a href="https://www.linkedin.com/in/suraj-shrestha-52686964/"><img src="/images/footer-linkedIn.png"></a></li>


                <li><a href="https://twitter.com/KinzaShrs"><img src="/images/footer-twitter.png"></a></li>


                <li><a href="https://www.youtube.com/channel/UCngzZh9vJFlx6N-gd8SXr4g"><img src="/images/footer-youtube.png"></a></li>
            </ul>
    </section>
    <section>
            <li>
            <h3>For more information.<br/>
            <small> Please contact here:<br/>
            Contact number: +4740593775
            </small></h3>
            </li>

    </section>
     </div>
</footer>
<footer  class="second">
            <p>Copyright@ Suraj Shrestha</p>
</footer>