<!DOCTYPE html>
<html lang="en">
  <head>
        <% include navbar.ejs %>
  </head>
  <body>
  <% include header.ejs %>
   <div id="hero-image-notFound">
       <h1 id="banner-title" style="color:red"> <%= title %> </h1>
   </div>
        <%include footer.ejs %>
        <%include script.ejs %>
  </body>
</html>