<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include header.ejs %>

</head>
<body>

	<% include navbar.ejs %>
        
        <div id="publications">
            <h1 id="banner-title" style="color:black"> <%= title %></h1>    
        </div>
        
        <center><h1>List of Publications:</h1></center>
        
        <p id="publicationsList">Suraj Shrestha & Pietro Murano (2016)<a href="http://thesai.org/Publications/ViewPaper?Volume=7&Issue=12&Code=IJACSA&SerialNo=3">A Universally Designed and Usable Data Visualization for A Mobile Application in the Context of Rheumatoid Arthritis </a>, International Journal of Advanced Computer Science and Applications (IJACSA), Vol. 7, Issue 12, December 2016.</p>
        
	<% include footer.ejs %>



</body>
 <% include script.ejs %>
</html>